body {
    height: 795px;;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #a4ffd6);
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: #006400;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #004d00;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    text-decoration:wavy;
    color: #008000;
}

#blogs-btn:hover{
    text-decoration: wavy;
    color: #008000;
    cursor: pointer;
}
.profile {
    display: flex;
    align-items: center;
}
.profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.notifications {
    margin-right: 10px;
    font-size: 1.2em;
    color: #ff4500;
}

    /* Styling for Pie Chart */
.pie-chart-container {
width: 400px;
margin: 30px auto;
text-align: center;
}